<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form action="/news" method="GET">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Ex: http://google.com" name="newsUrl">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
</form>
<a href="/auth/login">Login</a>
<div>
    {{#if errorMessage}}
    <span>{{errorMessage}}</span>
    {{/if}}
</div>