@font-face {
    font-family: avenir;
    src: url("avenir-next-lt-pro.otf");
}

html {
    height: 100%;
}

body {
    background-color: #F7F4F3;
    font-family: avenir, sans-serif;
    color: #564d4a;
    height: 100%;
}

.invisible {
    display: none;
}

.nav-item {
    font-size: 1.2rem;
}

.navbar-brand {
    font-weight: bolder;
    font-size: 1.7rem;
}

.home {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10px;
}

.oneline {
    display: flex;
}

.home p {
    font-size: 1.2rem;
    font-weight: lighter;
}

.home button, .user-home button {
    border-radius: 0px 10% 10% 0px;
}

.oneline-wrap {
    display: flex;
    flex-wrap: wrap;
}

.align-base {
    align-items: baseline;
}

.bg-city {
    background-image: url(../images/city.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center-v {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.7rem;
}

.container-border {
    border: 1px solid lightgray;
    border-radius: 5px;
}

.btn {
    font-size: 1.2rem !important;
}

.home input, .user-home input{
    height: 50px;
    font-size: 1.2rem;
    border-radius: 0px;
}

.center-text {
    text-align: center;
}

.login .btn, .create-news .btn, .admin-user .btn, .news .btn {
    width: 230px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.space-around {
    display: flex;
    justify-content: center;
}

.user-home h3, .news h3, .news h2 {
    font-weight: bold;
}

.user-home a {
    color: white;
}

.news h2 {
    font-size: 1.8rem;
}

.news h3 {
    font-size: 1.4rem;
}

.bold {
    font-weight: bold;
}

.news p {
    font-size: 1.2rem;
}

.word-wrap {
    word-wrap:break-word;
}

@media (max-width: 768px) {
    .bg-city {
        overflow-y: scroll;
    }
    .breakline {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}